@use '../base/variables' as *;

.button {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  gap: 4px;
  color: $neutral-98;
  min-height: 38px;
  height: fit-content;
  align-items: center;
  background-color: $primary-5;
  border-radius: 24px;
  font: $label-large;
  transition: all 0.2s ease;

  &:hover {
    color: $neutral-98;
    background-color: $primary-6;
  }

  &:active,
  &:focus-visible {
    background-color: $primary-4;
  }

  &_width_full {
    width: 100%;
  }

  &_icon {
    padding: 4px;

    path {
      fill: $neutral-95;
    }
  }

  &_size_small {
    padding: 8px 16px;
    font: $label-small;
    min-height: 32px;
  }

  &_variant_primary {
    background-color: $primary-5;

    &:hover {
      background-color: $primary-6;
    }

    &:active,
    &:focus-visible {
      background-color: $primary-4;
    }
  }

  &_variant_delete {
    background-color: $error-5;

    &:hover {
      background-color: $error-6;
    }

    &:active,
    &:focus-visible {
      background-color: $error-4;
    }
  }

  &_variant_transparent {
    background-color: transparent;
    color: $primary-5;

    &:hover {
      background-color: $neutral-9;
      color: $primary-2;
    }

    &:active,
    &:focus-visible {
      background-color: $neutral-8;
    }

    path {
      fill: $neutral-1;
    }
  }

  &[disabled] {
    color: $neutral-7;
    background-color: $neutral-95;
    cursor: not-allowed;
  }
}
