@use '../base/variables' as *;

.chat-item {
  padding: 12px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $neutral-98;
  }

  &__avatar {
    margin-right: 12px;
    flex-shrink: 0;
  }

  &__user {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;

    &-name {
      font: $title-medium;
      color: $neutral-1;
      overflow-wrap: anywhere;
    }

    &-message {
      font: $body-medium;
      color: $neutral-3;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      overflow-wrap: anywhere;
    }
  }

  &__info {
    margin-left: 8px;
    display: flex;
    flex-shrink: 0;
    gap: 8px;
    flex-direction: column;
    align-items: end;

    &-date {
      font: $body-small;
      color: $neutral-5;
    }
  }
}
