// BASE STYLES
@use "./base/base";

// COMPONENTS
@use "./components/components";

// LAYOUTS
@use "./layouts/layouts";

// PAGES
@use "./pages/pages";

body {
  font-family: Roboto, sans-serif;
}

.page {
  width: 100%;
  height: 100vh;
}

// SCROLLBAR

/* --- Настройки для Firefox (всегда виден, но очень бледный) --- */
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(0 0 0 / 20%) rgb(0 0 0 / 5%);
}

/* --- Для WebKit (Chrome, Edge, Safari) --- */
html::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Дорожка – полностью прозрачная, невидима */
html::-webkit-scrollbar-track {
  background: transparent;
}

/* Бегунок – прозрачный по умолчанию (скрыт) */
html::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s ease;
}

/* Показываем бегунок при наведении на страницу */
html:hover::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 30%);
}

/* Делаем темнее при наведении на сам бегунок */
html::-webkit-scrollbar-thumb:hover {
  background: rgb(0 0 0 / 60%);
}
